# Loops, Lists and Conditionals

We wrote a lot of loops, lists and conditional statements last year. Let's recap that.

## Lists

When we want to store multiple objects in order, we need a list. There are several different ways to create a list. The simplest is with square brackets, e.g.

`lst = [0, 1, 2, 3]`

If we want to know the length of a list, we use one of Python's built-in functions:

`len(lst)`

Try this, and also check the type of the list.

Does a list have to contain only integers? Try putting other things in a list, like floats, strings, and other lists. Does the length count the lists inside a list?

Now make an empty list. What do you expect its length to be? Are you right?

Some things can be converted to lists. We do it the same way as converting to an integer or string, by using the name of the type:

`list("a")`

Try this, and try a longer string. Does it work with an integer or float? What if you call `list` on something that's already a list?

## Built-in functions

Python has several useful built-in functions. We've seen the `len` function. Another example is `abs`, which gives the absolute value of a number, or the magnitude of a complex number. Give that a try.

Another useful function is `print`. It prints one or more values. Try doing `print(1,2,3)`.

We will recap how to define our own functions later, and how to import functions from modules. But there are also functions that are attached to objects - these are called *methods*. Here's an example with a complex number:

In [1]:
x = 1+2j
print(x.conjugate())

(1-2j)

`.conjugate` is a method of the complex object. It doesn't take any arguments (arguments are the things in the parentheses, which the function acts on). This function returns the conjugate of the complex number. Check below whether the original number is modified.

We'll learn about a lot of methods, but right now let's try `.append` on a list. Make a list, assigned to a variable, and use append to add a new element to the end of the list. Check the following:
 1. Does the .append method return any value?
 2. Does the list change afterward?

## Loops

If we want to do something many times, or for many different values, we can use a *for* loop. The lines of code to be repeated are indicated by *indenting* them. Code is indented by typing `Tab`, and Jupyter will often do automatic indenting. You can type `Backspace` to remove an indentation.

The loop ends when there's a line with non-indented code, or when the code ends. Here is an example *for loop* which prints 10 numbers, then 'Done' when it's finished.

In [2]:
for x in range(10):
    print('Inside the for loop')
    # You can have multiple indented lines
    print(x)
print('Done')

Inside the for loop
0
Inside the for loop
1
Inside the for loop
2
Inside the for loop
3
Inside the for loop
4
Inside the for loop
5
Inside the for loop
6
Inside the for loop
7
Inside the for loop
8
Inside the for loop
9
Done

There's several things we note here. The `for` line ends with a colon. Python, when told to count ten numbers, by default will count from 0 to 9. The last line of code is not indented, so it happens once, outside the loop.

**EXERCISE**

Use a loop to print the numbers from 0 to 5, and from 1 to 12.

## Conditionals

We may want to decide what to do based on whether something is true. We do this with an `if` statement, which also uses indentation. Here's an example.

In [3]:
if 1+1 == 2:
    print("That's what we expected.")
else:
    print("Arithmetic is broken.")

That's what we expected.

We can use a conditional inside a loop. Some lines end up double indented. Here's a silly example.

In [4]:
for x in range(10):
    if x < 4:
        print('This number is too small.')
    elif x >= 5:
        print('This number is too big.')
    else:
        print('This number is fine.')

This number is too small.
This number is too small.
This number is too small.
This number is too small.
This number is fine.
This number is too big.
This number is too big.
This number is too big.
This number is too big.
This number is too big.

**Exercise**

Make a loop with a conditional that prints the even numbers up to 100.

### Booleans

The expression inside the conditional demonstrates a new type, a Boolean (which Python abbreviates as 'bool'). Booleans can have only two values, True or False. One way to get a Boolean result is with comparisons like `>` and `>=`. The test for equality is a double equal, `==`.

In [5]:
type(True)

bool

In [6]:
3 > 1

True

In [7]:
7 == 6

False

Booleans can be combined with the operators `and`, `or`, and `not`. So you can do things like `(x < y) and (y < z)` and `(x < y) or not (y == z)`.

## Building a list with a for loop

To build a list, we can start with an empty list, then in a loop append values to that list. Based on what you learned above, and the code just below, try the following exercises.

In [8]:
my_list1 = []
for ii in range(10):
    my_list1.append(ii)
print(my_list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

**Exercise**

Make a list of the first 7 powers of 3 ($3^1$, $3^2$, etc.).

**Exercise**

Make a list of the first 100 odd numbers. Check that it's 100 long.

**Exercise**

Take the previous list and square all the numbers in it which are not divisible by 7. Remember that 'divide and give remainder' is the % operator.

A for loop doesn't have to just use `range`. It can also iterate through a list that you provide. Here's an example:

In [9]:
for x in [1, 2., 'a']:
    print(x)

1
2.0
a

**Exercise**:

Write a nested for loop (one loop inside another) that prints a truth table for the 'or' operator. Use two variables `a` and `b` that take all combinations of True and False, and show the value of `(a or b)`. For example, you should have

    a b => (a or b)
    True True => True
    True False => True
    False True => True
    False False => False

**Exercise**

Build and test an expression for 'exclusive or'. That means that it's true only if one of a or b is true.

    a b => (a xor b)
    True True => False
    True False => True
    False True => True
    False False => False