# Expressions, data types and Errors

## Simple Expressions - Maths

Everything in a notebook is in cells. Text like what you're reading right now goes in a 'Markdown' cell. Code goes in a code cell, like the one below. Try doing a simple math calculation like $2+2$, and push `Shift+Enter` or click 'Run' in the top bar to evaluate it.

In [1]:
2 + 2

4

When you evaluate a Python command in a code cell, the result is printed below the cell. You can put multiple lines in a cell by using `Enter` between them. When you evaluate the cell, the output is only the last value calculated. Try it.

In [3]:
2 + 2
3 + 4

7

Most math expressions are straightforward (**and you have a reference guide from week 1 of the 1st year module**). One slightly unusual thing is the power operator. We code $x^y$ as `x**y`. Try using this to:
 1. Find $2^{10}$.
 2. Find the square root of a million.
 3. Find the cube root of $4913$.

In [4]:
2**10

1024

In [5]:
1000**0.5

31.622776601683793

In [6]:
import math
math.sqrt(1000)

31.622776601683793

In [7]:
4913**(1/3.)

16.999999999999996

The standard division operator is `/`, for instance $1/4 = 0.25$. There is also the integer division operator `//` and the remainder operator `%`. Try a few things like `7//3` and `7%3` to remind yourself how they work. Which would you use to find out if a number is even? Demonstrate this below.

In [9]:
7//3, 7%3

(2, 1)

## Variables

Variables are used to store values and other objects. To create a variable, you use the assignment operator, like `x = 1`. Let's try it. Set x to 1, y to 2, and then calculate something with them, like x*y.

In [10]:
x = 1
y = 2
x*y

2

What happens if we set a variable to another one? Try doing `x = y`. Think about what x and y should be, *then* test whether you're correct.

In [11]:
x = y

In [12]:
x,y

(2, 2)

Now set y to something else, like `y = 3`. What will x be after doing that? There are two possibilities. Think about them both, then test it. Try to explain to someone else the two possibilities, and what you've just learned about how Python treats variables.

In [13]:
y = 3

In [14]:
x,y

(2, 3)

Variable names should be descriptive but not too long. Any name made with letters, numbers, and underscores will work if it's not a reserved Python keyword. Examples are `Energy`, `variable7`, and `very_long_variable_name`. Try assigning to a few of your own.

In [ ]:
good_variable_name = 23
kinetic_energy_J = 12
mass_kg = 23

You can make your code clear by choosing good variable names, and also by writing comments. A comment is made by putting text after a hash sign.

In [1]:
# Example of a Python comment

some_variable = 5 # You can put a comment after a statement

# You can add a hash sign before a line
# to temporarily stop it from being evaluated
# when you're trying to debug your code, e.g.:

# another_variable = 10*(some broken code)

## Some basic data types

As we showed last year, python has many different "types" of data/object. To find out the type of an object, call the function `type`. Try:
 1. `type(1)`
 2. `type(0.5)`

In [18]:
type(1), type(0.5)

(int, float)

Think about what will happen if you do `type(x)` or `type(y)`, based on your earlier experiment of assigning `x = y`? Will the type be something like 'variable' or will it be 'int'? Discuss with someone, and once you have a prediction, try it.

In [19]:
# Fill in the comment, then evaluate
# I expect the result to be ...
type(x)

int

The float type represents any real number, while int is used when something is definitely an integer. Anything with a decimal point is a float, even for example `5.`.

In [3]:
type(5.)

float

When you combine types in an expression, Python will do the most sensible thing. What is the type of `1/2`? What about `5.*2`?

In [25]:
type(5*2)

int

In [26]:
type(5.0*2)

float

There are also complex numbers, which are made in the form `1+2j` or `0.5-0.3j`. What is their type?

In [28]:
type(1+2j), type((1+2j) * 2)

(complex, complex)

## The string type

A string is made by enclosing something in quotes. Here are three different ways of making a string. All are allowed, and you'll see all of them.

In [29]:
string1 = 'string1'
string2 = "string2"
string3 = """string3""" # Triple quotes

The first two are common with short strings. If you want a long string that spans several lines, or that contains quotes in it, you can enclose it in triple quotes.

Now let's try some operations on strings. For each, think about what you expect, remembering that Python should try to do the most sensible thing if it can.
 1. Can you add two strings?
 2. Can you add a number to a string?
 3. Can you multiply two strings?
 4. Can you multiply a string by an integer?

In [30]:
string1 + string2

'string1string2'

In [32]:
string1 + str(1.0)

'string11.0'

In [33]:
string1 * string2

TypeError: can't multiply sequence by non-int of type 'str'

In [34]:
string1 * 3

'string1string1string1'

## Type Conversion

The name of the type is also a function that converts an object to that type (if possible). For instance, you can turn an integer to a float by doing `float(5)`.

 1. Convert a float to an integer. What does it do with the decimal part? (Try a few to be sure)
 2. What kind of strings can be converted to int or float?

In [37]:
int(5.8), int(5.999), int(5.1), int(4.99)

(5, 5, 5, 4)

In [43]:
int('5'), float('5.0'), float('5')

(5, 5.0, 5.0)

In [44]:
float('five')

ValueError: could not convert string to float: 'five'

## Errors

By now, you've seen a few examples of errors. Let's look at one in detail. Below, we've tried to access a variable that doesn't exist. Python stops, but gives us a lot of helpful information. It tells us the name of the error, and gives a traceback. The traceback points to the line with the error. The final line gives more detail about this specific error - here it names the variable which we tried to access but wasn't actually defined.

In [45]:
z = 0
an_undefined_variable
2*z

NameError: name 'an_undefined_variable' is not defined

Try going back and looking at other errors from before. Do they make sense? See how many other different error types you can discover below.

In [46]:
1/0

ZeroDivisionError: division by zero

In [47]:
import asdjhkasd

ModuleNotFoundError: No module named 'asdjhkasd'